.cep-container
{
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: sans-serif;
    margin: 2.25rem 0 0 0;
}

.label-cep
{
    display: flex;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: sans-serif;
    margin: 1.25rem 0 0 0;
}

form
{
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

input
{
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: sans-serif;
    border: 2px solid ;
}

button
{
    cursor: pointer;
    padding: 1.25rem;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #FFF;
}
